<% if !@myfile.errors.empty? %>
   <div class = "alert alert-error">
      <ul>
         <% @myfile.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
         <% end %>
      </ul>
   </div>
<% end %>

<div class = "well">
   <%= form_for @myfile, html: { multipart: true } do |f| %>
    <%= f.file_field :attachment, multiple: true, name: "item_files[file][]"%>   
      <%#= f.file_field :attachment %>
      <%= f.submit "Save", class: "btn btn-primary" %>
   <% end %>
</div>


